header
{
    position: relative;
    left: 115px;
}

button
{
    position: relative;
}

#Board
{
    position: relative;
    float: left;
    width: 560px;
    height: 560px;
    border: 2px solid black;
}

#SidePanel
{
    position: relative;
    margin-left: 600px;
    width: 150px;
    height: 540px;
    border: 2px solid black;
    text-align: center;
    padding-top: 20px;
}

#DuckSquare
{
    width: 70px;
    height: 70px;
    border: 2px solid black;
    position: absolute; 
    bottom: 20px;
    left: 39px;
}

#RanksPanel
{
    position: relative;
    height: 560px;
    width: 15px;
    float: left;
    right: 20px;
}

#FilesPanel
{
    position: relative;
    height: 15px;
    width: 560px;
    left: 15px;
    top: 10px;
}

.RanksDiv
{
    position: relative;
    height: 70px;
    line-height: 70px;
    text-align: center;
}

.FilesDiv
{
    position: relative;
    width: 70px;
    float: left;
}

.RanksFilesParagraph
{
    margin-left: auto;
    margin-top: auto;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}


.Square
{
    /*position: relative;*/
    width: 70px;
    height: 70px;
    float: left;
}

.LightSquare 
{
    background-color: #6db9e8
}

.SelectedLightSquare 
{
    background-color: #4f93be
}

.DarkSquare 
{
    background-color: #2052a8
}

.SelectedDarkSquare
{
    background-color: #203d6d
}

.DuckSquare
{
    background-color: #ffffff;
}

.SelectedDuckSquare
{
    background-color: #e0e0e0;
}